$top-bar-actions-height: 90px;
$form-field-font-size: 16px;
$paginator-height: 60px;

.top-bar-actions {
  height: $top-bar-actions-height;
  display: flex;
  align-items: center;
}

.mat-form-field {
  font-size: $form-field-font-size;
}

.data-wrapper {
  height: calc(100% - #{$top-bar-actions-height});
  position: relative;
}
