<!-- Search Input -->
<mat-form-field class="w-1/4 pt-2 pb-3">
  <mat-label>Type a character name</mat-label>
  <input matInput class="search-input" placeholder="Ex: Mickey" [formControl]="searchTerm" />
</mat-form-field>
<!-- /Search Input -->

<!-- Characters results -->

<!-- Spinner -->
<div *ngIf="isLoaderVisible$ | async" class="h-96 max-h-96 flex items-center justify-center bg-gray-500 bg-opacity-5 mat-elevation-z2a">
  <mat-spinner></mat-spinner>
</div>
<!-- /Spinner -->

<!-- Table -->
<div *ngIf="!(isLoaderVisible$ | async)" class="h-96 max-h-96 overflow-auto mat-elevation-z2">
  <table class="relative w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="text-violet-500 px-6 py-3">Name</th>
        <th class="text-violet-500 px-6 py-3">TV show appearances</th>
        <th class="text-violet-500 px-6 py-3">Video game appearances</th>
        <th class="text-violet-500 px-6 py-3">Allies</th>
        <th class="text-violet-500 px-6 py-3">Enemies</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let character of characters$ | async; let isLast = last; trackBy: itemTrackBy"
        class="hover:bg-violet-50 cursor-pointer"
        [ngClass]="{ 'bg-white border-b dark:bg-gray-900 dark:border-gray-700': !isLast }"
        (click)="openCharacterModal(character._id)"
      >
        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
          <span>{{ character.name }}</span>
        </th>
        <td class="px-6 py-4">{{ character.tvShows.length }}</td>
        <td class="px-6 py-4">{{ character.videoGames.length }}</td>

        <!-- TODO: text ellipsis & width and maybe pipe-->
        <td class="px-6 py-4">{{ character.allies.join(', ') }}</td>
        <td class="px-6 py-4">{{ character.enemies.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /Table -->

<!-- Paginator -->
<mat-paginator
  class="paginator"
  [length]="totalItems$ | async"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="handlePaginationChanges($event)"
></mat-paginator>
<!-- /Paginator -->

<!-- Card Modal -->
<app-character-card-modal [(isVisible)]="isCharacterModalVisible" [character]="activeCharacter$ | async"></app-character-card-modal>
<!-- /Card Modal -->
